@media only screen and (max-width: 64.9ch) {
  body.siteIndex #sidebar #logo {
      border: 1px dotted transparent;
      align-self: flex-start;
      padding: 50px;
  }
  body.siteIndex #markdownBody section {
      max-width: 100%;
  }
  body.siteIndex #markdownBody ul,
  body.tags #markdownBody ul {
      overflow-wrap: break-word;
      margin-right: 0;
  }
  body.siteIndex #markdownBody li,
  body.tags #markdownBody li {
      padding: 1px 0;
      margin: 2px 0 0 0;
  }
  body.siteIndex #markdownBody ul > li::before,
  body.tags #markdownBody ul > li::before {
      top: 0.25em;
  }

  #sidebar{
    font-variant:small-caps;
    padding:0 4ch 0 1ch;
    width:10ch
  }
  #sidebar a#logo{
    margin:1em 0 2em 0
  }
  #sidebar a#logo img{
    width:64px
  }
  #sidebar a.new{
    border-top:1px dotted #aaa
  }
  
}

